<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cynthia.thehighlight</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thehighlight</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Cantarell-Regular.ttf</string>
		<string>Barriecito-Regular.ttf</string>
		<string>Cantarell-BoldItalic.ttf</string>
		<string>Cantarell-Bold.ttf</string>
		<string>Cantarell-Italic.ttf</string>
	</array>
</dict>
</plist>
